h1 {
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}

body {
    padding: 2%;
    background-color: #17181c;
}
header {
    display: flex;
    flex-direction: row;
    height: 6vh;
}

.search {
    background-color: #373941;
    border-radius: 15px;
    width: 10%;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
}
.search img {
    width: 25px;
}
.add {
    background-color: blue;
    border-radius: 15px;
    width: 10%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    padding: 0;
}

.groups {
    display: flex;
    flex-direction: row;
}
.groups-1 {
    font-size: 16px;
    color: white;
    margin-left: 15px;
    padding: 3px;
}
.groups-2 {
    width: 50px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    color: #8b8c92;
    margin-left: 10px;
    padding: 3px;
}
.groups--active {
    border-bottom: 3px solid rgb(77, 77, 255);
}
.number {
    background-color: #373941;
    color: #b0b1b9;
    border-radius: 15px;
    padding: 0 5px;
}

main {
    height: 85vh;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #505361;
}
.footer--active {
    color: rgb(77, 77, 255);
}
footer i {
    font-size: 22px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    font-weight: bold;
    font-size: 12px;
}
.phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    font-weight: bold;
    font-size: 12px;
}
.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    font-weight: bold;
    font-weight: bold;
    font-size: 12px;
}
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    font-size: 12px;
}