.theme i {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 64px;
    text-transform: uppercase;}
header {
    height: 1080px;
    background-image: url(images/fone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;}
.nav {
    height: 100px;
    border-bottom: 3px solid white;
    background-color: rgba(0, 0, 0, 0.342);
    font-size: 25px;

    /* Фиксация */
    position: sticky;
    top: 0;}
.nav li {
    display: inline;
    margin: 0 2%;}
.nav li:hover {
    cursor: pointer;
    font-weight: bold;
    color: white;}
.nav li a {
    outline: none;
    text-decoration: none;
    color: white;
}
.nav span:hover {
    cursor: pointer;
}
.header-main {
    width: 50%;
    height: 980px;}
.header-main__left {
    align-content: center;
    font-size: 16px;}
.header-main__left p {
    font-size: 24px;}
.header-main__right {
    align-content: end;}
.block {
    width: 255px;
    padding: 6%;
    font-size: 21px;
    margin-bottom: 5%;
    margin-left: 5%;
    border: 1px;}
.block p{
    font-size: 14px;
    margin-top: 15px;}
.blue {
    background-color: #2378FC;}
.aquamarine {
    background-color: #30BCC9;}
.yellow {
    background-color: #FFC41E;}
.red {
    background-color: #F6404F;}

.side-menu {
    height: 426px;
    background-color: #2378FC;
    color: white;}
.side-menu__main {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
.side-menu__main__blocks li {
    list-style-type: none;
    margin-bottom: 20px;}
.side-menu__main__blocks p {
    font-size: 30px;}
.side-menu__main__blocks a {
    font-size: 16px;
    color: white;
    outline: none;
    text-decoration: none;}
.side-menu__main__blocks a:hover {
    border-bottom: 1px solid;
    color: #FFC41E;
    cursor: pointer;}
.events {
    background-color: #FFC41E;
    padding: 50px 0;}
h2 {
    font-size: 30px;}
.events__text {
    font-size: 21px;
    text-decoration: underline;}
.card {
    background: none;
    border: none;}
.card__text-1 {
    font-size: 14px;
    margin-top: 10px;}
.card__text-2 {
    font-size: 21px;
    color: #F6404F;}
.text--uppercase {
    text-transform: uppercase;}
.card__text-3 {
    font-size: 16px;}

.news {
    padding: 80px 0;}
.news-card {
    display: flex;
    flex-direction: row;
    margin-top: 50px;}
.news-card__text {
    font-size: 21px;
    font-weight: bold;
    margin-left: 10%;}
.news-card p {
    font-size: 16px;
    color: #F6404F;}

footer {
    background: #30BCC9;
    height: 476px;}
.footer {
    height: 476px;
    padding: 50px 0;
    color: white;
    display: flex;
    flex-direction: row;}
.footer__colomn__block {
    margin-bottom: 50px;}
.footer__colomn__block h3 {
    font-size: 21px;
    margin-bottom: 20px;}
.footer__colomn__block p {
    margin: 1% 0;}
.footer__colomn__block a {
    font-size: 14px;
    color: white;
    outline: none;
    text-decoration: none;}
.footer__colomn__block a:hover {
    border-bottom: 1px solid;
    color: #FFC41E;}
.footer__colomn__block__img:hover {
    height: 60px;
    width: 180px;
    cursor: pointer;}
.footer__colomn__block i {
    font-size: 36px;
    margin-right: 30px;}
.footer__colomn__block i:hover {
    color: red;
    cursor: pointer;}
form {
    width: 250px;}
form input {
    border: 0;
    padding: 0 20px;
    height: 40px;
    width: 185px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.178);}
form img:hover {
    cursor: pointer;
}