body {
    background-color: black;
}
header {
    height: 40vh;
    color: white;
}
main {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main__example-work-block {
    height: 200px;
    width: 200px;
    text-align: center;
    border: 3px solid white;
}
.main__example-work-block li {
    margin-top: 20px;
}
.main__example-work-block a {
    outline: none;
    text-decoration: none;
    color: white;
}