h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: 1s;
    text-align: center;
}
h1:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

body {
    background-color: black;
}

header {
    padding: 1% 0;
    color: white;
    display: flex;
    flex-direction: column;
}
header span {
    align-self:last baseline;
    width: 100px;
    margin-bottom: 10px;
}
header span:hover {
    cursor: pointer;
    font-weight: bold;
}
header hr {
    border-top: 5px solid white;
    width: 70%;
    margin: 1% auto;
}

/* Модальные окна */
.modal-window {
    position: fixed;
    left: auto;
    top: auto;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    padding: 3%;
    background-color: grey;
    display: none;
}

main {
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
}
.main__example-work-block {
    height: 300px;
    width: 300px;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 25px;
    padding: 0 0 0 0;
    box-shadow: 0 0px 5px rgb(255, 255, 255);
}
.main__example-work-block img{
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0 0;
}
.main__example-work-block:hover {
    transition: 0.1s;
    transform: scale(1.02);
    box-shadow: 0 0px 20px rgb(255, 255, 255);
}
.main__example-work-block p {
    margin: 15% 0;
}
.main__example-work-block a {
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.main__example-work-block a:hover {
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}
.vkontakte {
    color: white;
    background-color: rgb(0, 132, 255);
    padding: 1% 2%;
    font-size: 20px;
    border-radius: 10px;
}
.vkontakte a {
    text-decoration: none;
    color: white;
}
.vkontakte:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}