.back-to-portfolio {
    position: fixed;
    padding: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 15px 0;
    z-index: 1;
}
.back-to-portfolio:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    padding: 0 15%;
}
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-right: 1px solid black;
}
.header-logo img {
    width: 20%;
}
.header-logo img:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}
.header-logo p {
    color: #00bbff;
    margin: 0;
    font-size: 14px;
}
.header-contacts {
    width: 100%;
    height: 50%;
}
nav {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    border-top: 1px solid black;
}
nav a {
    text-decoration: none;
}
.header-nav-button {
    padding: 0 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 2px solid #00bbff;
    color: #00bbff;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.3s;
}
.header-nav-button:hover {
    background-color: #00bbff;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px #00bbff;
    scale: 1.05;
    transition: 0.3s;
}

