<div>
    <div class="row">
        <div class="col-3">
            <img src="images/photo_coach-3.jpg" alt="photo coach 3 Maksim Petrov" />
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-9">
                    <h4>Максим Петров</h4>
                    преподаватель по программированию <br />
                    <i class="bi bi-facebook"></i><i class="bi bi-instagram"></i>
                </div>
                <div class="col-3 text-end">
                    <div id="close__modal3" class="close__modal">Закрыть</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="education" class="col">Образование</div>
        <div id="working" class="col">Опыт работы</div>
        <div id="awards" class="col">Награды</div>
    </div>
    <div class="row">
        <div class="col-12 modal-scroll">
            <div id="education-style">
                Сентябрь 1998 — Июнь 2003 <br />
                Санкт-Петербургский политех нический университет Петра Великого <br />
                Факультет: Компьютерных наук и технологий <br />
                Специальность: Математика и компьютерные науки Форма обучения: Очная <br />
                <br />
                <h4>Курсы и тренинги</h4>
                <br />
                Ноябрь 2020 — Февраль 2021 Программа дополнительного образования «3D Моделирование»
                Место проведения: Институт дополнительного образования «Политех» Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Esse sequi ut consequuntur id quo ab
                pariatur, voluptatum dicta culpa eius odit quibusdam quos aliquid voluptatibus non
                omnis praesentium illum facilis! Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Quia, vel voluptas aspernatur voluptatem consequuntur animi consectetur quidem
                similique error expedita natus odit illo harum! Nihil facilis consequuntur quod amet
                dignissimos.
            </div>
            <div id="working-style">
                <h4>Опыт работы</h4>
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium accusantium
                eius nam corrupti molestiae delectus aliquid, velit quibusdam illum magni voluptatum
                minima hic culpa quasi aperiam nihil sint ducimus quisquam?
            </div>
            <div id="awards-style">
                <h4>Награды</h4>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga neque possimus
                dolor laborum rerum, provident nihil in aperiam delectus amet praesentium adipisci a
                modi sunt architecto? Reprehenderit, non? Odit!
            </div>
        </div>
    </div>
</div>
