* {
    font-size: 10px;
}

.--color-white {
    color: white;
}
.--fz-2x {
    font-size: 2rem;
}
.--fw-bold {
    font-weight: bold;
}

h2 {
    font-size: 4rem;
}

.banner-sale {
    background-color: black;
}

nav {
    padding: 50px 0;
}
nav li {
    display: inline;
}
nav i {
    font-size: 3rem;
    margin-right: 15px;
}