h1 {

}
h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}

@media (width < 500px) {
    h2 {
        font-size: 30px;
    }
}