<div class="back-to-portfolio" id="portfolioLink">Портфолио</div>
<header class="header">
    <div class="header-logo">
        <img id="logo" src="../../images/logo.png" alt="Логотип" />
        <h3>Namehost</h3>
        <p>Лучший хостинг</p>
    </div>
    <div class="col">
        <div class="header-contacts">

        </div>
        <nav>
            <div id="home" class="header-nav-button">Home</div>
            <div id="domains" class="header-nav-button">Domains</div>
        </nav>
    </div>
</header>
