h1 {
    font-size: 90px;
    font-family: sans-serif;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
h3 {
    font-size: 30px;
    font-weight: bold;
}
h4 {
    margin-top: 7px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3px 5%;
    font-size: 32px;
    background-color: rgb(255, 219, 141);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.logo {
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: black;
    width: 150px;
    text-align: center;
}
nav a:hover {
    font-weight: bold;
}

.header_offer {
    padding: 5% 10%;
    font-size: 50px;
    line-height: 90%
}
.header_offer p {
    margin-top: 5%;
    font-size: 20px;
    color: grey;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 3%;
}
.up {
    border-radius: 50%;
    padding: 1%;
    background-color: rgb(255, 191, 53);
    color: black;
    position: fixed;
    left: 95%;
    top: 90%;
    z-index: 1;
    display: none;
}
.up:hover {
    font-weight: bold;
    cursor: pointer;
    scale: 1.1;
    
}
.usluga {
    width: 30%;
    text-align: center;
    padding: 0 1%;
}
.usluga p {
    font-size: 14px;
    text-align: justify;
}
.usluga_more {
    width: 50%;
    background-color: rgb(255, 219, 141);
    padding: 5%;
    margin: 0 auto;
    border-radius: 5%;
}
.usluga_more:hover {
    background-color: rgb(255, 191, 53);
    font-weight: bold;
    cursor: pointer;
}
section {
    background: url(images/about_us.jpg);        
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    filter: brightness(80%);
    margin-top: 20px;
}
.about_us {
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5%;
}
.main_Advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
}
.main_Advantages-card {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.main_Advantages-numbers {
    background-color: rgb(255, 191, 53);
    padding: 7px 23px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}
.contacts {
    padding: 5%;
    font-size: 30px;
}
.contacts p {
    margin: 3% 0;
    font-size: 20px;
    color: grey;
}

footer {
    background-color: grey;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 26px;
}
footer i {
    margin: 2%;
}
footer i:hover {
    color: rgb(255, 191, 53);
    cursor: pointer;
}

@media (width < 980px) {
    .usluga {
        width: 50%;
    }
}

@media (width < 470px) {
    .usluga {
        width: 300px;
    }
}

@media (width < 380px) {
    nav {
        font-size: 20px;
        position: relative;
    }
    .logo {
        font-size: 30px;
    }
    nav a {
        width: 60px;
    }
    h1 {
        font-size: 50px;
    }
    .header_offer {
        padding: 5% 5%;
        font-size: 20px;
        line-height: 90%
    }
    .header_offer p {
        margin-top: 5%;
        font-size: 14px;
        color: grey;
    }
    section {
        background: NONE;
        padding: 0 0;
        filter: brightness(100%);
    }
    h2 {
        margin-bottom: 5px;
        text-align: center;
        font-size: 30px;
    }
    .about_us {
        font-size: 14px;
        text-align: justify;
    }
}